extends layout

block layout-content
 div.View.ServicesView
    h1.Banner Our Services 
    .Services
        .ServicesList
            strong book now and pay later:
            ul 
                li Guided tour of all of Tunisia
                li Cultural and thematic tours
                li Private and personalized tours
                li Cruises, boat trips and sailboats
                li Shore excursions
                li Camping and hiking
                li Ecological tours
        .Card
            img(src="carte.jpg", alt="card")
      
